:root {
    /* Colors */
    --text: #010005;
    --background: #f7f5fe;
    --accent:#0ede2a;
    --secondary: #c4bdfa;
    --secondary-40per: #c4bdfa40;
    --primary: #f2533a;
}

/* Desktop View */
@media screen and (min-width: 1000px) {
    section:not(.heroSection) {
        margin: 2rem 16rem;
    }

    .heroSection {
        display: flex;
        justify-content: center;
    }

    .heroSection h1 {
        font-size: 4.8rem;
        height: 6rem;
        text-align: center;
        padding: 1.6rem;
        width: fit-content;
    }

    .linkContainer {
        flex-direction: column;
        height: 6rem;
        padding: 1.6rem;
        margin: auto;
        width: 2rem;
    }

    .linkContainer a {
        margin: auto;
    }

    .linkContainer a:hover {
        background-color: var(--secondary);
        border-radius: 12px;
    }
  }