:root {
    /* Colors */
    --text: #010005;
    --background: #f7f5fe;
    --accent:#0ede2a;
    --secondary: #c4bdfa;
    --secondary-40per: #c4bdfa40;
    --primary: #f2533a;
}

/* Tablet view */
@media screen and (min-width: 640px) {
    section:not(.heroSection) {
        margin: 2rem;
    }
}